fastapi==0.79.0
python-multipart==0.0.5
aiofiles==0.8.0
python-dotenv==0.20.0
isort==5.10.1
black==22.6.0
flake8==4.0.1
uvicorn==0.18.2
Pillow==9.2.0
SQLAlchemy==1.4.36
psycopg2-binary==2.9.3
alembic==1.8.0
tenacity==8.0.1
python-json-logger==2.0.4
JSON-log-formatter==0.1.0